.Python
bin/
include/
lib/
pip-selfcheck.json

.idea
benchmarkSpider/benchmarkSpider/*.pyc
benchmarkSpider/benchmarkSpider/spiders/*.pyc
benchmarkSpider/benchmarkSpider/log.txt
benchmarkSpider/benchmarkSpider/result.json
benchmarkSpider/benchmarkSpider/result/

.py~
